.Img {
    height: 50px;
    display: inline-block;
}

.nav-container {
    background-image: url("Img/amusement-park-2.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.navbar {
    background: transparent !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-sub-link {
    color: black !important;
    text-decoration: none;
    padding: 1rem;
}
.navbar .nav-item:hover .nav-link{color: orange !important;}