.navbar {
    background-image: linear-gradient(-90deg, #d38321, #d83279);
}

.Img {
    height: 50px;
    display: inline;
}

#form-input{
    background-image: linear-gradient(90deg, #945b1e, #7e3ac6, #0979cc);
}

.form-label{
    color: whitesmoke;
}